<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix @ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
    </style>

</head>
<body>
    <div class="container-fluid navbar-container p-0">
        <div class="container text-white">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="/Peliculas/">
                    <img src="~/img/Netflix.png" width="150">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Peliculas/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">

                        <div class="tt-container text-black-50"><input id="my_search" class="form-control" type="search" placeholder="Buscar pelicula" aria-label="Search"></div>
                        <!-- <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> -->
                        <input type="hidden" id="tt-pelicula-id" data-pelicula-id="">
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid body-content text-white">
        @RenderBody()

        <hr />
        <footer class="container mt-2 d-block text-center text-muted mt-4">
            <p>&copy; @DateTime.Now.Year - Netflix </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var peliculas = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/Peliculas',
                    cache: false
                }
            });

            $('#my_search').typeahead({
                highlight: true
            },
            {
                name: 'peliculas',
                display: 'nombre',
                source: peliculas.ttAdapter(),
                templates: {
                    suggestion: function (item) {
                        return `<div><a id="${item.id}"class="sugerencia" href=/Peliculas/Reproducir/${item.id}>
                                <img src="${item.portadaURL}" width="30">
                                <span class="pl-2"> ${item.nombre} - ${item.añoDeLanzamiento}</span>
                                </a></div>`;
                    }
                }
            })

        });
    </script>
</body>
</html>
