@using Netflix.Models;
@using EstructurasDeDatos.Lista
    @model  Netflix.ViewModels.IndexViewModel

    @{
        ViewBag.Title = "Index";
    }



    <div class="container-fluid categorias pl-4 pr-4">
        
        <!-- Boton para agregar peliculas -->
        @Html.ActionLink("Agregar Pelicula", "Nueva", null, new { @class = "btn btn-outline-light btn-lg mb-4" })


        <!-- TV PARA NIÑOS  -->
        
        <h3 class="d-block">TV para niños</h3>
        <div id="carousel-1" class="carrousel-container">
            <div class="control-container">
                <div id="left-scroll-button-1" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-1" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-1">
                @foreach (var pelicula in Model.TvNiños)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />
                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN TV PARA NIÑOS -->

        
        <!-- DRAMA -->
        <h2>Drama</h2>

        <div id="carousel-2" class="carrousel-container carousel">
            <div class="control-container">
                <div id="left-scroll-button-2" class="left-scroll button scroll">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-2" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-2">
                @foreach (var pelicula in Model.Drama)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />

                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN TV PARA NIÑOS  -->


        <!-- ACCION Y AVENTURAS  -->
        <h2>Accion y aventuras</h2>

        <div id="carousel-3" class="carrousel-container carousel">
            <div class="control-container">
                <div id="left-scroll-button-3" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-3" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-3">
                @foreach (var pelicula in Model.AccionyAventuras)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />
                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN ACCION Y AVENTURAS  -->

        <!-- MI LISTA -->
        <section>
            <h2>
                Mi Lista
                @if (Model.MiLista.Any())
                {
                    <a href="/Peliculas/VerDeMiLista/" class="btn btn-danger ml-2">Ver<i class="fa fa-play ml-2"></i></a>
                }
            </h2>

            <div id="" class="carrousel-container carousel">
                @if (!Model.MiLista.Any())
                {
                    <h4 class="pt-4">Aún no hay nada en mi lista</h4>
                }
                else
                {
                    <div class="items" id="">
                        @foreach (var pelicula in Model.MiLista)
                        {
                            <div class="item">
                                <img class="item-image" src="@pelicula.FondoURL" />
                                <span class="item-title">@pelicula.Nombre</span>
                                
                            </div>
                        }
                    </div>
                }
            </div>
        </section>
        <!-- FIN MI LISTA -->

        <!-- Continuar Viendo -->
        <section>
            <h2>Continua Viendo Contenido de Usuario 
                @if (Model.ContinuarViendo.Any())
                {
                    <a href="/Peliculas/PopContinuarViendo/" class="btn btn-danger ml-2">Continuar<i class="fa fa-play ml-2"></i></a>
                }
            </h2>
           
            <div id="" class="carrousel-container carousel">
                @if (!Model.ContinuarViendo.Any())
                {
                    <h4 class="pt-4">Aún no hay nada en Continuar Viendo</h4>
                }
                else
                {
                    <div class="items" id="">
                        @foreach (var pelicula in Model.ContinuarViendo)
                        {
                            <div class="item">
                                <img class="item-image" src="@pelicula.FondoURL" />
                                <span class="item-title">@pelicula.Nombre</span>
                                
                            </div>
                        }
                        </div>
                }
            </div>
            </section>
            <!-- Fin Continuar Viendo -->
        </div>
@section scripts {

    @Scripts.Render("~/bundles/carousel")

}
