@using Netflix.Models;
@using EstructurasDeDatos.Lista
    @model  Netflix.ViewModels.IndexViewModel

    @{
        ViewBag.Title = "Index";
    }



    <div class="container-fluid categorias pl-4 pr-4">
        

        @Html.ActionLink("Agregar Pelicula", "Nueva", null, new { @class = "btn btn-outline-light btn-lg mb-4" })


        <!-- TV PARA NIÑOS  -->
        
        <h3 class="d-block">TV para niños</h3>
        <div id="carousel-1" class="carrousel-container">
            <div class="control-container">
                <div id="left-scroll-button-1" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-1" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-1">
                @foreach (var pelicula in Model.TvNiños)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />
                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN TV PARA NIÑOS -->

        
        <!-- DRAMA -->
        <h2>Drama</h2>

        <div id="carousel-2" class="carrousel-container carousel">
            <div class="control-container">
                <div id="left-scroll-button-2" class="left-scroll button scroll">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-2" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-2">
                @foreach (var pelicula in Model.Drama)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />

                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN TV PARA NIÑOS  -->


        <!-- ACCION Y AVENTURAS  -->
        <h2>Accion y aventuras</h2>

        <div id="carousel-3" class="carrousel-container carousel">
            <div class="control-container">
                <div id="left-scroll-button-3" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div id="right-scroll-button-3" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="items" id="carousel-items-3">
                @foreach (var pelicula in Model.AccionyAventuras)
                {
                    <div class="item">
                        <a href="/Peliculas/Reproducir/@pelicula.Id">
                            <img class="item-image" src="@pelicula.PortadaURL" />
                            <span class="item-title">@pelicula.Nombre</span>
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- FIN ACCION Y AVENTURAS  -->

        <!-- MI LISTA -->
        <section>
            <h2>
                Mi Lista
                @if (Model.MiLista.Any())
                {
                    <a href="/Peliculas/VerDeMiLista/" class="btn btn-danger ml-2">Ver<i class="fa fa-play ml-2"></i></a>
                }
            </h2>

            <div id="" class="carrousel-container carousel">
                @if (!Model.MiLista.Any())
                {
                    <h4 class="pt-4">Aún no hay nada en mi lista</h4>
                }
                else
                {
                    <div class="items" id="">
                        @foreach (var pelicula in Model.MiLista)
                        {
                            <div class="item">
                                <img class="item-image" src="@pelicula.FondoURL" />
                                <span class="item-title">@pelicula.Nombre</span>
                                
                            </div>
                        }
                    </div>
                }
            </div>
        </section>
        <!-- FIN MI LISTA -->

        <!-- Continuar Viendo -->
        <section>
            <h2>Continua Viendo Contenido de Usuario 
                @if (Model.ContinuarViendo.Any())
                {
                    <a href="/Peliculas/PopContinuarViendo/" class="btn btn-danger ml-2">Continuar<i class="fa fa-play ml-2"></i></a>
                }
            </h2>
           
            <div id="" class="carrousel-container carousel">
                @if (!Model.ContinuarViendo.Any())
                {
                    <h4 class="pt-4">Aún no hay nada en Continuar Viendo</h4>
                }
                else
                {
                    <div class="items" id="">
                        @foreach (var pelicula in Model.ContinuarViendo)
                        {
                            <div class="item">
                                <img class="item-image" src="@pelicula.FondoURL" />
                                <span class="item-title">@pelicula.Nombre</span>
                                
                            </div>
                        }
                        </div>
                }
            </div>
            </section>
            <!-- Fin Continuar Viendo -->


        </div>
@section scripts {
    <script>
        window.onload = function () {
            function MouseWheelHandler(e, element) {
                var delta = 0;
                if (typeof e === 'number') {
                    delta = e;
                } else {
                    if (e.deltaX !== 0) {
                        delta = e.deltaX;
                    } else {
                        delta = e.deltaY;
                    }
                    e.preventDefault();
                }

                element.scrollLeft -= (delta);

            }
            var tvniños = {};
            var drama = {};
            var accionyaventuras = {};
            
            /* function setEvents(el, id) {
                el.e = document.getElementById('carousel-' + id);
                el.items = document.getElementById('carousel-items-' + id);
                el.leftScroll = document.getElementById('left-scroll-button-' + id);
                el.rightScroll = document.getElementById('right-scroll-button-' + id);
                el.items.addEventListener("mousewheel", function (e) { handleMouse(e, el); }, false);
                el.items.addEventListener("scroll", function (e) { scrollEvent(e, el); }, false);
                el.leftScroll.addEventListener("click", function (e) { leftScrollClick(e, el); }, false);
                el.rightScroll.addEventListener("click", function (e) { rightScrollClick(e, el); }, false);
                setLeftScrollOpacity(el);
                setRightScrollOpacity(el);
            }
            setEvents(tvniños, 1);
            setEvents(drama, 2);
            setEvents(accionyaventuras, 3); */

            var carousel = {};
            tvniños.e = document.getElementById('carousel-1');
            tvniños.items = document.getElementById('carousel-items-1');
            tvniños.leftScroll = document.getElementById('left-scroll-button-1');
            tvniños.rightScroll = document.getElementById('right-scroll-button-1');
            tvniños.items.addEventListener("mousewheel", function (e) { handleMouse(e, tvniños); }, false);
            tvniños.items.addEventListener("scroll", function (e) { scrollEvent(e, tvniños); }, false);
            tvniños.leftScroll.addEventListener("click", function (e) { leftScrollClick(e, tvniños); }, false);
            tvniños.rightScroll.addEventListener("click", function (e) { rightScrollClick(e, tvniños); }, false);
            setLeftScrollOpacity(tvniños);
            setRightScrollOpacity(tvniños);


            drama.e = document.getElementById('carousel-2');
            drama.items = document.getElementById('carousel-items-2');
            drama.leftScroll = document.getElementById('left-scroll-button-2');
            drama.rightScroll = document.getElementById('right-scroll-button-2');
            drama.items.addEventListener("mousewheel", function (e) { handleMouse(e, drama); }, false);
            drama.items.addEventListener("scroll", function (e) { scrollEvent(e, drama); }, false);
            drama.leftScroll.addEventListener("click", function (e) { leftScrollClick(e, drama); }, false);
            drama.rightScroll.addEventListener("click", function (e) { rightScrollClick(e, drama); }, false);
            setLeftScrollOpacity(drama);
            setRightScrollOpacity(drama);

            accionyaventuras.e = document.getElementById('carousel-3');
            accionyaventuras.items = document.getElementById('carousel-items-3');
            accionyaventuras.leftScroll = document.getElementById('left-scroll-button-3');
            accionyaventuras.rightScroll = document.getElementById('right-scroll-button-3');
            accionyaventuras.items.addEventListener("mousewheel", function (e) { handleMouse(e, accionyaventuras); }, false);
            accionyaventuras.items.addEventListener("scroll", function (e) { scrollEvent(e, accionyaventuras); }, false);
            accionyaventuras.leftScroll.addEventListener("click", function (e) { leftScrollClick(e, accionyaventuras); }, false);
            accionyaventuras.rightScroll.addEventListener("click", function (e) { rightScrollClick(e, accionyaventuras); }, false);
            setLeftScrollOpacity(accionyaventuras);
            setRightScrollOpacity(accionyaventuras);    

            function handleMouse(e, element) {
                MouseWheelHandler(e, element.items);
            }

            function leftScrollClick(element) {
                MouseWheelHandler(100, element.items);
            }

            function rightScrollClick(element) {
                MouseWheelHandler(-100, element.items);
            }

            function scrollEvent(e, element) {
                setLeftScrollOpacity(element);
                setRightScrollOpacity(element);
            }

            function setLeftScrollOpacity(element) {
                if (isScrolledAllLeft(element)) {
                    element.leftScroll.style.opacity = 0;
                } else {
                    element.leftScroll.style.opacity = 1;
                }
            }

            function isScrolledAllLeft(element) {
                if (element.items.scrollLeft === 0) {
                    return true;
                } else {
                    return false;
                }
            }

            function isScrolledAllRight(element) {
                if (element.items.scrollWidth > element.items.offsetWidth) {
                    if (element.items.scrollLeft + element.items.offsetWidth === element.items.scrollWidth) {
                        return true;
                    }
                } else {
                    return true;
                }

                return false;
            }

            function setRightScrollOpacity(element) {
                if (isScrolledAllRight(element)) {
                    element.rightScroll.style.opacity = 0;
                } else {
                    element.rightScroll.style.opacity = 1;
                }
            }
        }
    </script>
}
